/* Hero Section */
.hero-img {
    height: 100vh;
    background-image: url(../images/sofa.webp);
    background-size: cover;
    background-position: bottom;
}

.hero-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.4));
}

.hero-section {
    height: 70%;
}

h1 {
    color: var(--light-color);
    font-size: 70px;
}

.visit-section {
    height: 30%;
    background-color: var(--second-bg-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.visit-section h4 {
    width: 50%;
    color: var(--text-second-color);
}


/* Fabrics Section */
.brand-type {
    background-color: var(--second-Button-bg);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100px;
}

.brand-type h2 {
    color: var(--light-color);
    font-size: 35px;
}

.brand-img {
    height: 100px;
}

.brand-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media(max-width: 991px) {
    h1 {
        font-size: 30px;
    }

    .visit-section h4 {
        width: 80%;
    }

}


@media (max-width: 799px) {
    .visit-section h4 {
        width: 100%;
        padding: 0 30px;
        font-size: 20px;
    }

}

@media(max-width: 575px) {
    .visit-section h4 {
        font-size: 16px !important;
    }

}


@media(max-width: 320px) {

    .visit-section h4 {
        padding: 5px;
    }

}