/* Hero Section */
.hero-img {
    background-image: url(../images/projects-img.webp);
    background-size: cover;
    background-position: bottom;
    height: 90vh;
}

.hero-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.3));
}

h1 {
    color: var(--light-color);
    font-size: 60px;
}


/* Projects Section */
.projects {
    background-color: var(--second-bg-color);
    padding: 50px 30px;
    position: relative;
}

.projects::before {
    content: "";
    background-color: var(--second-bg-color);
    height: 50px;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    top: -50px;
    left: 0;
}

.projects h2 {
    width: 50%;
}

.brands h2,
.projects h2 {
    color: var(--text-second-color);
    padding-bottom: 80px;
}

.project-img {
    height: 400px;
}

.project-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project p {
    padding-top: 10px;
    text-align: start;
    color: var(--text-second-color);
    font-size: var(--header-font-size);
}


/* Brands Section */
.brands {
    padding: 80px 0;
}

.brands h2 {
    font-size: 50px;
}

.brand-img {
    height: 100px;
    width: 100%;
}

.brand-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media(max-width: 991px) {
    h1 {
        font-size: 30px;
    }

    .projects {
        padding: 0 30px 30px 30px;
    }

    .brands {
        padding: 40px 0;
    }
}


@media (max-width: 799px) {

    .brands h2,
    .projects h2 {
        padding-bottom: 40px;
    }

    .projects h2 {
        width: 100%;
    }
}


@media(max-width: 320px) {
    .project-img {
        height: 250px;
    }

}